<div class="col-sm-7">
    <table id="jsonTable" class="table table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, val) in propertyJson">
            <td><input class="form-control" id="key_{{$index}}" type="text" name="key" ng-model="key"></td>
            <td><textarea class="form-control" id="value_{{$index}}" type="textarea" name="value" ng-model="val" ng-blur="jsonTable.change($index)"/></td>
            <td>
                <button class="xsmall" ng-click="jsonTable.delete(key)">-</button>
            </td>
        </tr>
        <tr>
            <td><button class="xsmall" id="add">+</button></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>