<div class="col-sm-7">
    <table id="jsonTable" class="table table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, val) in propertyJson">
            <td><input id="key_{{index}}" type="text" name="key" ng-model="key"></td>
            <td><input id="value_{{index}}" type="text" name="value" ng-model="val" ng-change="jsonTable.change($index)"/></td>
            <td>
                <button ng-click="jsonTable.delete(key)">-</button>
            </td>
        </tr>
        <tr>
            <td><button id="add">+</button></td>
        </tr>
        </tbody>
    </table>
</div>